%% -*- erlang -*-
%% See: http://erlang.org/doc/man/compile.html for documentation of these opts
{erl_opts,
[ debug_info
, warn_unused_import
, warnings_as_errors
, {platform_define, "^[0-9]+", namespaced_types}
]}.

{deps,
% eper can be used for some performance tools
[ {eper  , {git, "https://github.com/massemanet/eper.git",    {tag, "0.97.6"}}}
% lager is the logging framework
, {lager , {git, "https://github.com/erlang-lager/lager.git", {tag, "3.5.2"}}}
]}.

% Unit testing
{eunit_opts,
[ verbose
, {report, {eunit_surefire,
            [ {dir,".eunit"}
            ]}}
]}.

% Coverage report does not seem to be generated?
{cover_enabled, true}.
{cover_opts, [ verbose
             ]}.
{cover_export_enabled, true}.

% http://erlang.org/doc/man/ct.html#run_test-1
{ct_opts,
[ {logdir, ".ct"}
, {sys_config, "config/sys_dev.config"}
]}.

% No JUnit XML report seems to be generated?
{ct_extra_params, "-ct_hooks cth_surefire"}.

% https://www.rebar3.org/v3/docs/configuration#section-xref
{xref_checks,
[ deprecated_function_calls
, undefined_function_calls
, exports_not_used
]}.

% Release info
{relx,
[ {release, {advent2017, "0.0.1"},
   [ advent2017
   ]}
  %% Default sys_config for local development
, {sys_config, "config/sys_dev.config"}
, {vm_args, "config/vm.args"}
, {dev_mode, true}
, {include_erts, true}
, {extended_start_script, true}
]}.

% Using '-' in atoms is not allowed unless we create atoms using 'atom()'
% Reason for doing so is the ENV variable which determines which profile to use
% is used further down the line
{profiles,
[ {test,
% Add mocking library for testing
   [ {deps,
      [ {meck, {git, "https://github.com/eproxus/meck.git",  {tag, "0.8.9"}}}
      ]}
   , {overrides,
      [ {override,
         [ {erl_opts,
            [ debug_info
            , warn_unused_import
            , warnings_as_errors
            , {platform_define, "^[0-9]+", namespaced_types}
            ]}
         ]}
      ]}
   ]}
% Add elvis to check the formatting of the source files
, {elvis,
   [ {deps,
      [ {elvis, {git, "https://github.com/inaka/elvis.git", {tag, "0.4.1"}}}
      ]}
   ]}
]
}.

{plugins,
% A rebar plugin to retrieve the release version from the relx config variable
[ {relv, ".*", {git, "https://github.com/zsoci/rebar3relx.git", {branch, "master"}}}
]}.

% http://erlang.org/doc/man/dialyzer.html
{dialyzer,
[ {plt_apps, all_deps}
, {warnings, [ unknown
             ]}
]}.
